body{
    background-image: linear-gradient(to right, #000000, #044b9c);
}
.a{
    color: #000000;
}

/*footer*/
.footer-menu ul {
    margin: 0px;
    padding: 0px;
}
.container-footer {
    max-width: 1140px;
}
.copyright-area{
  background: #000000;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ffffff;
  text-decoration: none;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #044b9c;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
  text-decoration: none;
}
.row-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-lg-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.d-lg-block {
    display: block !important;
}

.col-xl-6{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.container-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: black;
    
}
/*Estilos del Navbar*/
.custom-navbar {
    background-color: #333;
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1rem;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

@media (max-width: 99px) {
    .navbar-nav {
        text-align: center;
    }
}


 /* Estilos generales para el formulario de contacto */
.container-contacto {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container-contacto video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: -1;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 400px;
    margin-top: 50px; 
    margin-bottom: 25px; 
}

form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form input,
form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form textarea {
    resize: none;
    height: 100px;
}

form #button-contacto {
    background-color: #ffc107;
    color: #000;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form #button-contacto:hover {
    background-color: #ffb200;
}


/* Contenedor principal */
.container {
    width: 100%;
    padding: 20px;
    position: relative;
}

/* Columna principal */
.columna {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

/* Estilos para el título */
.columna h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

/* Párrafos */
.columna p {
    text-align: justify;
    margin-bottom: 15px; 
    line-height: 1.6; 
    font-size: 16px;
    margin-left: 20px; 
    margin-right: 20px; 
}

/* Imagen en la esquina superior derecha */
.columna img {
    width: 200px;
    height: auto;
    position: absolute;
    top: 00px;
    right: -110px;
    z-index: 1;
}
/* Estilos para los términos y condiciones */
.columna-terminos {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: relative;
}

/* Estilo para el título */
.titulo-terminos {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilo para los subtítulos */
.subtitulo-terminos {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Estilo para los párrafos */
.texto-terminos {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Estilo para los enlaces */
.enlace-terminos {
    color: #1e90ff;
    text-decoration: underline;
}

.enlace-terminos:hover {
    color: #f5a623;
}

/* Estilo para mejorar la legibilidad en dispositivos móviles */
@media (max-width: 768px) {
    .aviso-privacidad-contenido {
        padding: 20px 10%;
    }

    h2 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }

    ul li {
        font-size: 1em;
    }
}


h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1em;
    margin: 10px 0 0;
}

.aviso-privacidad-contenido {
    padding: 30px 15%;
    line-height: 1.8;
}

h2 {
    font-size: 1.6em;
    color: #ffffff; /* Color naranja para los títulos de las secciones */
    margin-top: 30px;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

a {
    color: #ff8c00; /* Enlaces en color naranja */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
