{% extends 'baseExtend.html' %}

{% block title %}Aviso de Privacidad{% endblock %}

{% block content %}

<main>
    <div class="container">
        <div class="columna">
            <h2>Aviso de Privacidad</h2>
            <p>
                En Festy Plan, nos comprometemos a proteger tu privacidad y a asegurar que tu experiencia en nuestra plataforma sea segura y confiable. Este Aviso de Privacidad tiene como objetivo informarte sobre cómo recopilamos, usamos, almacenamos y protegemos tu información personal.
            </p>
            <h3>1. Información que recopilamos</h3>
            <p>
                Recopilamos información personal cuando te registras en nuestra plataforma, compras boletos para eventos o interactúas con nuestros servicios. Esta información incluye, pero no se limita a, tu nombre, dirección de correo electrónico, número de teléfono, detalles de pago y preferencias de eventos.
            </p>
            <h3>2. Uso de la información</h3>
            <p>
                La información que recopilamos se utiliza para procesar tus compras, enviarte confirmaciones de eventos, mejorar nuestra plataforma y ofrecerte una experiencia personalizada. También la utilizamos para enviarte notificaciones relacionadas con eventos y actualizaciones importantes sobre nuestros servicios.
            </p>
            <h3>3. Protección de la información</h3>
            <p>
                Implementamos medidas de seguridad para proteger tu información personal contra el acceso no autorizado, alteración, divulgación o destrucción. Esto incluye el uso de tecnología de encriptación y políticas de seguridad rigurosas para proteger nuestros sistemas y bases de datos.
            </p>
            <h3>4. Compartir la información</h3>
            <p>
                No compartimos tu información personal con terceros, excepto cuando sea necesario para procesar pagos, cumplir con las leyes aplicables o cuando nos otorgues tu consentimiento explícito. También podemos compartir tu información con nuestros socios y proveedores de servicios, pero solo en la medida en que sea necesario para ofrecerte nuestros productos y servicios.
            </p>
            <h3>5. Cookies y tecnologías similares</h3>
            <p>
                Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario en nuestra plataforma. Las cookies nos permiten personalizar tu navegación y hacerla más eficiente, almacenando información sobre tus preferencias y comportamiento de navegación.
            </p>
            <h3>6. Derechos de los usuarios</h3>
            <p>
                Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. Si deseas ejercer alguno de estos derechos, puedes contactarnos a través de los canales proporcionados en la sección de contacto.
            </p>
            <h3>7. Cambios en este Aviso de Privacidad</h3>
            <p>
                Nos reservamos el derecho de modificar este Aviso de Privacidad en cualquier momento. Cualquier cambio será notificado en esta página, y la fecha de la última actualización estará indicada al final del aviso. Te recomendamos revisar periódicamente este aviso para estar al tanto de cualquier actualización.
            </p>
            <h3>8. Contacto</h3>
            <p>
                Si tienes alguna pregunta o inquietud sobre nuestro Aviso de Privacidad o sobre cómo manejamos tu información personal, no dudes en contactarnos a través de los siguientes medios:
            </p>
            <ul>
                <li>Correo electrónico:festyplan@gmail.com</li>
                <li>Teléfono: +52 800 123 4567</li>
                <li>Dirección: --------</li>
            </ul>
            <p>
                Última actualización: diciembre 2024.
            </p>
        </div>
    </div>
</main>


<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

{% endblock %}