{% extends 'baseExtend.html' %}

{% block title %}Boletos{% endblock %}

{% block content %}

<main>
    <h1>Mis Boletos</h1>
    <table>
        <thead>
            <tr>
                <th>ID Ticket</th>
                <th>Asiento</th>
                <th>Precio</th>
                <th>Fecha de Venta</th>
                <th>Evento</th>
            </tr>
        </thead>
        <tbody>
            {% for boleto in boletos %}
            <tr>
                <td>{{ boleto.id_ticket }}</td>
                <td>{{ boleto.numero_asiento }}</td>
                <td>{{ boleto.precio }}</td>
                <td>{{ boleto.fecha_venta }}</td>
                <td>{{ boleto.titulo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</main>


<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

{% endblock %}