{% extends 'baseExtend.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}

<div class="container-contacto">
  
  <video autoplay muted loop id="bg-video">
      <source src="{{ url_for('static', filename='img/evento.mp4') }}" type="video/mp4">
      Tu navegador no soporta el video.
  </video>
  
  <form action="#">
    <h2>CONTACTO</h2>
    <input type="text" name="cliente" id="nombre" placeholder="Ingrese su Nombre" onkeypress="return sololetras(event)" onpaste="return false" required>
    <input type="text" name="correo" id="correo" placeholder="Ingrese su Correo" required>
    <input type="text" name="celular" id="celular" placeholder="Ingrese su Celular" onkeypress="return solonumeros(event)" onpaste="return false" required>
    <textarea name="mensaje" placeholder="Escriba su Mensaje" required></textarea>
    <input type="submit" id="button-contacto" value="ENVIAR" class="button" onclick="validarCorreo(form.correo.value)">
  </form>
</div>

    
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/contacto.js') }}"></script>


{% endblock %}