{% extends 'baseExtend.html' %}

{% block title %}Eventos{% endblock %}

{% block content %}

<main>
    <h1>Eventos</h1>
    <div>
        {% for evento in eventos %}
            <div>
                <h2>{{ evento.titulo }}</h2>
                <p>{{ evento.descripcion }}</p>
                <p>Fecha: {{ evento.fecha }}</p>
                <p>Capacidad: {{ evento.capacidad }}</p>
                <p>Costo: ${{ evento.costo }}</p>
                <p>Categoría: {{ evento.categoria }}</p>
                {% if evento.foto %}
                    <img src="{{ evento.foto }}" alt="{{ evento.titulo }}" width="200">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</main>


<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

{% endblock %}