{% extends 'baseBol.html' %}

{% block title %}Eventos{% endblock %}

{% block content %}

<main>
    <h1>Eventos Disponibles</h1>
    <div class="eventos-grid">
        {% for evento in eventos %}
            <div class="evento-card">
                {% if evento.foto %}
                    <img src="{{ evento.foto }}" alt="{{ evento.titulo }}">
                {% endif %}
                <div class="evento-card-content">
                    <h2>{{ evento.titulo }}</h2>
                    <p>Fecha: {{ evento.fecha }}</p>
                    <p>Costo: ${{ evento.costo }}</p>
                </div>
                <div class="evento-card-actions">
                    <a href="{{ url_for('venta', id_evento=evento.id_evento) }}" class="btn">Adquirir boletos</a>
                    {% if 'mis_eventos' in request.endpoint %}
                        <a href="{{ url_for('editar_evento', id_evento=evento.id_evento) }}" class="btn">Editar</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</main>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

{% endblock %}
