{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="main">
    
<!-- Botón flotante Scroll -->
<button id="scrollToTop" class="scroll-to-top">
    <i class="fas fa-arrow-up"></i>
</button>

<!-- Termina Botón flotante Scroll -->

<!-- Botón flotante del chatbot -->
<div id="chatbot-container">
    <button id="chatbot-button">💬</button>
    <div id="chatbot-window">
        <div id="chatbot-header">
            <span>Festy-Bot 🤖</span>
            <button id="chatbot-close">✖</button>
        </div>
        <div id="chatbot-body">
            <div id="chatbot-messages"></div>
        </div>
        <div id="chatbot-footer">
            <input type="text" id="chatbot-input" placeholder="Escribe un mensaje...">
            <button id="chatbot-send">Enviar</button>
        </div>
    </div>
</div>

<!-- termina boton flotante del chatbot -->
<section class="eventos-container">
    <div class="eventos-titulo">
        <h2>Descubre Experiencias Únicas con Festy Plan</h2>
        <p>Sumérgete en un mundo de eventos excepcionales que transforman momentos ordinarios en recuerdos extraordinarios.</p>
    </div>
    <div class="eventos-grid">
        <div class="evento-card">
            <div class="evento-icono">
                <!-- Emoji Calendario para "Próximos Eventos" -->
                <span style="font-size: 48px;">📅</span>
            </div>
            <h3>Próximos Eventos</h3>
            <p>Explora una curaduría selecta de los eventos más innovadores y emocionantes del momento.</p>
        </div>

        <div class="evento-card">
            <div class="evento-icono">
                <!-- Emoji de Ubicación para "Ubicaciones Premium" -->
                <span style="font-size: 48px;">📍</span>
            </div>
            <h3>Ubicaciones Premium</h3>
            <p>Eventos en los espacios más exclusivos y emblemáticos en tu ciudad.</p>
        </div>

        <div class="evento-card">
            <div class="evento-icono">
                <!-- Emoji Brújula para "Experiencias Únicas" -->
                <span style="font-size: 48px;">🧭</span>
            </div>
            <h3>Experiencias Únicas</h3>
            <p>Sumérgete en experiencias que van más allá de lo convencional, diseñadas para inspirar.</p>
        </div>
    </div>
</section>

{% endblock %}