{% extends 'register.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<main class="container">
    <h2>Login</h2>
    <form action="">
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Your Username">
            <div class="underline"></div>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Your Password">
            <div class="underline"></div>
        </div>
        <input type="submit" value="Continue" href="{{ url_for('contacto')}}">
    </form>
    <p class="message">¿No tienes cuenta? <a href="">Crear cuenta</a></p>
{% endblock %}