{% extends 'baseExtend.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<main>
    <div class="video-bg">
        <video autoplay muted loop>
          <source src="tu-video.mp4" type="video/mp4">
          Tu navegador no soporta el video en HTML5.
        </video>
      </div>
    
      <div class="signup-container">
        <div class="signup-form">
          <h2>Crear Cuenta</h2>
          <form>
            <input type="text" placeholder="Nombre completo" required>
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
            <p class="message">¿Ya tienes cuenta? <a href="login.html">Iniciar sesión</a></p>
          </form>
        </div>
      </div>
</main>


<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

{% endblock %}